* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Body styles */
body {
    font-family: Arial, sans-serif;
    min-height: 100%;
    height: auto;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    background-color: blueviolet;
}

.fixed-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust height as needed */
    background: linear-gradient(to right, #2c3e50, #3498db);
    z-index: 1000;
}

.fixed-header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* Adjust the height as needed */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1c40f;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Main styles */
.main {
    margin-top: 60px; /* Adjust margin to keep content below header */
    margin-bottom: 100px; /* Adjust margin to keep content above footer */
    /*overflow-y: auto;  Enable scrolling for main content */
    display: flex;
    flex: 1;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    width: 200%;
    height: auto;
    /*max-height: calc(70vh) Adjust height to fit between header and footer */
}

.column {
    overflow-y: auto; /* Enable vertical scrolling for columns */
    position: relative;
    min-height: 100%;
    height: auto;
}

.column1 {
    width: 50%;
    background-color: white;
    padding: 3px;
    min-height: 100vh;;
    height: auto;
    padding-bottom: 60px;
    z-index:2;
    /* font-family: 'Times New Roman', Times, serif;  Change font family */
    /*font-size: 8px; Change font size */
}

.container .column1 .content {
    font-family: 'Times New Roman', Times, serif; /* Change font family */
}

.column2 {
    width: 50%;
    z-index:1;
    background-color: black;
    min-height: 100vh;
    height: auto;
    color: white;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column1 .name-container {
    margin-bottom: 20px; /* Add margin-bottom to prevent overlap with header */
}

.fixed-image {
    position: fixed;
    bottom:20vh;  /*Place at the bottom */
    right: 0px; /* Adjust as needed */
    width: 50px; /* Adjust as needed for smaller size */
    height: auto; /* Maintain aspect ratio */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Adjust height as needed */
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: #fff;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#connect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#connect ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#connect li {
    margin: 0 5px;
}

#connect a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#connect a:hover {
    background-color: #fff;
    color: #2c3e50;
}

/* Media queries for different screen sizes */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
    .name-container {
        position: static;
        transform: none;
    }

    .content {
        margin: 5px;
        padding: 5px;
        grid-template-columns: 1fr;
    }
}

/* Medium devices (between 577px and 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .main .left-column .content {
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices (above 992px) */
@media (min-width: 993px) {
    .content {
        margin: 0%;
        padding: 0%;
        grid-template-columns: repeat(3, 1fr);
    }
}
