/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    align-items: center;
    align-content: center;
    z-index: 0;
}

.fixed-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px; /* Adjust height as needed */
    padding: 20px;
    background: linear-gradient(to right, #2c3e50, #3498db);
    z-index: 1;
}

.fixed-header .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px; /* Adjust the height as needed */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1c40f;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Main styles */
.main {
    margin-top: 60px; /* Adjust margin to keep content below header */
    margin-bottom: 100px; /* Adjust margin to keep content above footer */
    display: flex;
    flex: 1;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.column1 {
    width: 50%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: white;
    min-height: 100vh;
    height: auto;
    padding-left: 6%;
    padding-bottom: 30px;
    z-index: 0;
    flex-direction: column;
}

.container .column1 .content {
    padding: 3%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333; /* Change font family */
}

.container .column1 .content .cartooncontainer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.container .column1 .content .cartooncontainer img {
    left: 25%;
    width: 70%;
}

.container .column1 .content .button {
    right: 53%;
    display: inline-block;
    padding: 15px 0px;
    background-color: #3771a0;
    color: transparent;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    position: absolute;
}

.container .column1 .content .button:hover {
    background-color: #102c42;
}

.container .column1 .content .button::after {
    content: attr(data-text);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.column2 {
    width: 50%;
    overflow-y: auto;
    overflow-x: auto;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    background-color: black;
    min-height: 100vh;
    height: auto;
    color: white;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column2 .containerRand {
    vertical-align: middle;
    width: 100%;  /* Adjust the width as needed */
    height: 70vh; /* Adjust the height as needed */
    position: relative;
    overflow: auto;
    padding: 2px;
}

.column2 .contact {
    position: absolute;
    width: 100%;
    height: auto;
    top: 55%;
    bottom: auto;
    text-align: right;
    right: 0%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.column2 .contact ul {
    text-align: left;
}

.column2 .containerRand img {
    width: 100%;
}

.column1 .name-container {
    margin-bottom: 20px; /* Add margin-bottom to prevent overlap with header */
}

.fixed-image {
    position: fixed;
    bottom: 0vh;  /*Place at the bottom */
    right: 0px; /* Adjust as needed */
    width: 60px; /* Adjust as needed for smaller size */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.5; /* Adjust this value to set the transparency level */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.copyrt {
    position: fixed;
    text-align: left;
    bottom: 0vh;  /*Place at the bottom */
    left: 10px; /* Adjust as needed */
    width: 100%; /* Adjust as needed for smaller size */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.5; /* Adjust this value to set the transparency level */
    z-index: 1000; /* Ensure it stays on top of other elements */
    color: white;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Adjust height as needed */
    background: linear-gradient(to right, #3498db, #2c3e50, #000508, black);
    color: #fff;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#connect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#connect ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#connect li {
    margin: 0 5px;
}

#connect a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#connect a:hover {
    background-color: #fff;
    color: #2c3e50;
}

/* Media queries for different screen sizes */

@media (max-aspect-ratio: 1.5) {
    
        .container {
            flex-direction: column;
        }
        .column1, .column2 {
            width: 100%;
        }
        .column2 .contact {
            top: 77%;
            bottom: auto;
        }
    
}
@media (max-aspect-ratio: 1.75) {
    
    .container {
        flex-direction: column;
    }
    .column1, .column2 {
        width: 100%;
    }
    .column2 .contact {
        top: 71%;
        bottom: auto;
    }

}
  
/* Small devices (up to 576px) */
@media (max-width: 576px) {
    .container {
        flex-direction: column;
    }
    .column1, .column2 {
        width: 100%;
    }
    .column2 .contact {
        top: 71%;
        bottom: auto;
    }
}

/* Medium devices (between 577px and 992px) 
@media (min-width: 577px) and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    .column1, .column2 {
        width: 100%;
    }
    .column2 .contact {
        top: auto;
        bottom: 22vh;
    }
    .main .column1 .content {
        margin-top: 0;
        padding-left: 10%;
        grid-template-columns: repeat(2, 1fr);
    }
    .column2 .contact {
        position: absolute;
        width: 100%;
        height: auto;
        top: 53vh;
        bottom: 22vh;
        text-align: right;
        right: 0%;
        padding: 5%;
        display: flex;
        flex-direction: column;
    }
}
*/
/* Large devices (above 992px) */
@media (min-width: 750px) {
    .content {
        margin: 0%;
        padding: 0%;
        grid-template-columns: repeat(3, 1fr);
    }
}
