* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    width: 100%;
    color: #f8f8f8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.fixed-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #2c3e50, #3498db);
    padding: 10px;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f1c40f;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

main {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.column {
    padding: 0;
    overflow-y: auto;
}

.left {
    width: 20%;
    background-color: rgb(5, 65, 70);
    
    color: white;
    padding: 5px;
}

.middle {
    width: 55%;
    justify-content: center;
    text-align: center;
    background-color: rgb(211, 197, 197);
    color: rgb(119, 160, 160);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.right {
    width: 25%;
    background-color: rgb(8, 94, 109);
    color: white;
    padding: 5px;
}

a {
    color: white;
}

.middle .container-others1,
.middle .container-others2 {
    border: 4px solid #f1c40f;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 10px;
}

.middle .container-others1 .canvas-container,
.middle .container-others2 .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;
}

.middle .container-others2 .image-container img {
    width: 100%;
    height: auto;
}

.scrollable-content {
    overflow-y: auto;
    flex-grow: 1;
    padding-right: 0px;
    scroll-padding-left: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.middle .container-others1 .info-container {
    text-align: left;
    font-size: small;
    color: black;
}

.middle .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.middle #main-heading
{
    color:black;
    
}
.middle .container-others1 h1,
.middle .container-others2 h1 {
    margin-bottom: 10px;
}

.chessboard-box {
    border: 4px solid #f1c40f;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 10px;
}

.poem1, .poem2, .poem3 {
    border: 4px solid #f1c40f;
    padding: 5px;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 10px;
}
/* Media queries */

/* Small devices (up to 576px) */
@media (max-width: 800px) {
    .name-container {
        position: static;
        transform: none;
    }

    .content {
        margin: 0px;
        padding: 0px;
        grid-template-columns: 1fr;
    }
    canvas {
        border: 1px solid black;
        width:100%;
        height: auto;
    }
}

/* Medium devices (between 577px and 992px) */
@media (min-width: 577px) and (max-width: 992px) {
    .main .left-column .content {
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices (above 992px) */
@media (min-width: 993px) {
    .content {
        margin: 5px;
        padding: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
}
